* {
    margin: 0;
    padding: 0;
}

main {
    width: 70%;
    background-color: grey;
    margin: auto;
}

/* head part */

#intro {
    display: flex;
    justify-content: center;
    width: 100%;
}

#picture {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#picture img {
    width: 90%;
}

#naming {
    padding-left: 0.5em;
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#occupation {
    color: white;
    font-size: 2em;
}

#naming h1 {
    margin-bottom: 0;
    color: violet;
    font-weight: 900;
    font-size: 4em;
}

#opening_line {
    padding-top: 2em;
    color: white;
    font-size: x-large;
    text-align: center;
}



/* descrption part */
/* left section */
#description {
    display: flex;
    width: 100%;
}

#left_section {
    width: 33%;
    color: white;
}

#left_section h3 {
    margin-top: 1em;
    text-align: right;
    padding-right: 0.5em;
}

#left_section h3:nth-of-type(2) {
    margin-top: 0;
}

span {
    border-bottom: 3px solid violet;
}

#contact div img {
    width: 1.5em;
    background-color: white;
    border-radius: 40%;
}

#mail {
    display: flex;
    flex-wrap: wrap;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

#skills div {
    border: 5px solid rgb(255, 255, 255);
    background-color: white;
    width: 8em;
    height: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: unset;
    justify-content: center;
    margin: 1em;
    color: black;
    border-radius: 10%;
}

#hobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#hobbies div {
    border: 5px solid rgb(255, 255, 255);
    width: 8em;
    height: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: unset;
    justify-content: center;
    margin: 1em;
    border-radius: 10%;
}





/* right section */
#right_section {
    width: 67%;
    background-color: white;
    border-radius: 50px 0 0 0;
}

#right_section h2 {
    margin-top: 1em;
    text-align: right;
    padding-right: 0.5em;
}

#degree {
    display: flex;
}

#year {
    width: 20%;
    display: flex;
    justify-content: center;
}

#marks {
    border-left: 7px solid violet;
    padding-left: 1em;
    margin-bottom: 5px;
}

#traits {
    display: flex;
}

#personal {
    width: 20%;
    display: flex;
    justify-content: center;
}

#list {
    border-left: 7px solid purple;
    padding-left: 1em;
    margin-bottom: 5px;
}

#forms {
    text-align: center;
    width: 60%;
    margin: auto;
    background-color: rgba(201, 152, 227, 0.475);
    border-radius: 2em;
}

#forms label {
    text-align: left;
}

#forms button {
    width: 60%;
    margin: 10px 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

@media (max-width:1500px) {
    main {
        width: 100%;
    }
}

@media(max-width:980px) {
    #degree {
        flex-direction: column;
    }

    #year {
        min-width: 150px;
        margin-bottom: 10px;
    }

    #traits {
        flex-direction: column;
    }

    #personal {
        min-width: 150px;
        margin-bottom: 10px;
    }

    #marks {
        border-width: 10px;
    }

    #list {
        border-width: 10px;
    }
}

@media (max-width: 700px) {
    main {
        width: 100%;
    }

    #intro {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    #left_section {
        width: 100%;
    }

    #left_section h3 {
        text-align: center;
        width: 100%;
    }

    #contact {
        margin: 2em;
        margin-top: 10px;
    }

    #contact {
        min-width: 300px;
    }

    #naming h1 {
        font-size: 40px;
    }

    #description {
        flex-direction: column;
    }


    #skills {
        min-width: 300px;
    }

    #skills div {
        width: 100px;
    }

    #hobbies {
        min-width: 300px;
    }

    #hobbies div {
        width: 100px;
    }

    #right_section {
        width: 100%;
        border-radius: 0;
    }

    #degree {
        flex-direction: column;
    }

    #year {
        min-width: 150px;
        margin-bottom: 10px;
    }

    #traits {
        flex-direction: column;
    }

    #personal {
        min-width: 150px;
        margin-bottom: 10px;
    }

}

@media (max-width:500px) {
    main {
        width: 100%;
        max-width: 500px;
    }

    #intro {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    #contact {
        min-width: 300px;
    }

    #naming h1 {
        font-size: 40px;
    }

    #description {
        flex-direction: column;
    }

    #skills {
        min-width: 300px;
    }

    #skills div {
        width: 100px;
    }

    #hobbies {
        min-width: 300px;
    }

    #hobbies div {
        width: 100px;
    }

    #right_section {
        min-width: 250px;
        border-radius: 0;
    }

    #degree {
        flex-direction: column;
    }

    #year {
        min-width: 150px;
        margin-bottom: 10px;
    }

    #traits {
        flex-direction: column;
    }

    #personal {
        min-width: 150px;
        margin-bottom: 10px;
    }

}